html {
    padding-left: 20px;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    padding-top: 25px;
}

li {

}

a {
    text-decoration: none;
    font-family: Arial;
    
}
a:hover {
    font-weight: bold;
}

h2 {

}

h3 {

}

p {
    margin-left: 5%;
    font-family: Arial;
}

img {
    max-width: 10%;
    max-height: 10%;
    border-radius: 40px;
    margin-left: 10%;
    align-content: center;
}
